body{
  background-image: url('./assets/bgimage.jpg');
  background-repeat: no-repeat ;
  background-size: cover;
  padding: 0;
  margin: 10px;
  font-family: Arial, sans-serif;
}

.MainCardDiv{
  margin: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(143, 143, 143);
  width: 300px;
  height: 300px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.MainCardDiv .pfp{
  margin: 0px;
  width: 300px;
  height: 210px;
}

.MainCardDiv .Name{
  margin: 5px;
}

